
- @workshops.each do |workshop|
  %div.workshop
    %h2= workshop.title
    %p= "#{workshop.duration} days - #{workshop.date_range}"
    != workshop.content
    = link_to 'Show', workshop
    = link_to 'Edit', edit_workshop_path(workshop)
    = link_to 'Destroy', workshop, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Workshop', new_workshop_path
