
#col1
  %div{:id=>:image_container, :data => {:slidecount => @slides.count}}
    - position = 1
    - @slides.each do |slide|
      %div{:id=>"slide_#{position}", :class=>'slide'}
        - position += 1
        = image_tag slide.photo.url
        %p.caption
          = slide.caption

#col1a
  != editable_content("news")

%div.horizontal_separator{:style=>"clear:both;"}
          
#col3
  #col3a
    #grid_wrapper
      %h3 Latest Images
      #flickr-div
       
   
  #col3b
    %h3 Featured Image
    != editable_content("featured_image")

  #col3c
    %h3 Twitter Feed
    %div
      = render :partial => 'layouts/twitter_widget'
      
%div{:style=>"clear:both;"}
