%p#notice= notice

%p
  %b Attachment file name:
  = @photo.attachment_file_name
  = image_tag @photo.attachment.url
%p
  %b tags:
  = @photo.tags.count
  -  @photo.tags.each do |t|
    = link_to t.name, t
    &nbsp;
%p
  %b Attachment content type:
  = @photo.attachment_content_type
%p
  %b Attachment file size:
  = @photo.attachment_file_size
%p
  %b Attachment updated at:
  = @photo.attachment_updated_at

%div.scaffold-bottom-links
  = link_to 'Edit', edit_photo_path(@photo)
  \|
  = link_to 'Back', photos_path
